<form method="post" action="/hats">
	
	<p>
		<label for="hat_name">Hat name: </label>
		<input id="hat_name" type="text" name="name">
	</p>
	<p>
		<label for="hat_description">Hat description: </label>
		<input id="hat_description" type="text" name="description">
	</p>
	 <p>
		<label for="hat_awesome">Hat awesome: </label>
		<input id="hat_awesome" type="number" name="awesome">
	</p>
	<p>
		<input type="submit" value="Create new hat">
	</p>

</form>